.containerForm {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.modal-body{
    padding-bottom: 0% !important;
}

.div-h3{
    text-align: center;
    max-width: 80%;
}

.div-QR{
    margin-bottom: 5px;
}

.title{
    margin-bottom: 0px !important;
}

.MuiFormGroup-row{
text-decoration:none;
font-weight: 100;
font-size: 10px;
color:#ffffff;
padding: 10px;
background-color:#FF6D00;
border-color: #f8ab70;
border-width: 3px;
border-style: solid;
border-radius : 20px;
text-align: center;
width: 130px;
margin: 4px;
align-content: flex-start;
flex-direction: column !important;
}

.MuiFormControlLabel-root{
    margin-left: 0% !important;
}

@media (max-width: 900px) {
    .MuiFormGroup-row {
        max-width: 24%;
        padding-left: 0%;
        padding-right: 0%;
        justify-content: center;
        flex-direction: column !important;
        
    }

    .MuiFormGroup-row,h5{
        font-size: 1em !important;
    }

    .MuiFormControlLabel-root{
        margin: 0px !important;
    }

    .mb-3{
        flex-direction: column !important;
    }
  }

  @media (max-width: 700px) {
    .row-reporte{
        flex-direction: column !important;
    }
  }

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: rgb(247, 247, 247);
    color: #FF6D00;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}
