.containerAdmin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAdmin2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}


.contAdmin {
    width: 100%;
    padding: 1%;
    display: flex;
    align-self: flex-end;
    margin: 16px 0;
}

.contAdmin1 {
    width: 84%;
    padding: 1%;
    display: flex;
    align-self: flex-end;
    margin: 16px 0;
}

.contCardsInfo {
    width: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  

}

.contEstadisticas {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.contEstadisticass {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Responsive */

@media only screen and (max-width: 900px) {
    .contAdmin {
        width: 100%;
        flex-flow: row wrap;
    }

    .contCardsInfo {
        width: 100%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }

    .contEstadisticas {
        width: 100%;
    }
}



/* Ocultar */

#visitante{
    display: block flex;
    justify-content: center;
    align-items: center;
}

#funcionario{
    display: none;
    justify-content: center;
    align-items: center;
}

#aprendices{
    display: none;
    justify-content: center;
    align-items: center;
}

#btn-visitante{
    display: block;
}

#btn-funcionario{
    display: none;
}

#btn-aprendiz{
    display: none;
}
